name: Check
on:
  pull_request_target:
    types: [edited, opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check_bump_type:
    name: Validate
    runs-on: macos-26
    permissions:
      contents: write
      pull-requests: write
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
      GH_USER: ${{ secrets.GH_USER }}
      INPUT_TITLE: ${{ github.event.pull_request.title }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Validate Title
        run: |
          REGEX="^\[(none|patch|minor|major)\] .+$"
          if [[ ! $INPUT_TITLE =~ $REGEX ]]; then
            echo "::error title=PR Title::Your pull request title does not follow the conventional commit format. Please use the format: [<bump type>] (<type>): <description>"
            echo "::warning title=Example Types:feat,fix,refactor,doc"
            echo "::warning title=Example:[patch] refactor: Refactor mappers"
            echo "::warning Your title $INPUT_TITLE"
            exit 1
          fi
      - name: Check bump type
        run: |
          git fetch
          NEW_BUMP_TYPE=""
          if [[ $INPUT_TITLE =~ \[(.*)\] ]]; then
              NEW_BUMP_TYPE="${BASH_REMATCH[1]}"
          else
              echo "Bump type not found" >&2; exit 1;
          fi
          base_branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          target_branch=${{ github.event.pull_request.base.ref }}
          chmod +x ./scripts/helpers/build_and_dump.sh
          chmod +x ./scripts/helpers/abi_comparator.sh
          base_tmp_dir=$(mktemp -d)
          base_abi_dump_path=$(./scripts/helpers/build_and_dump.sh $base_tmp_dir)
          git checkout -b target_branch
          target_tmp_dir=$(mktemp -d)
          target_abi_dump_path=$(./scripts/helpers/build_and_dump.sh $target_tmp_dir)
          ./scripts/helpers/abi_comparator.sh $base_tmp_dir $target_abi_dump_path $base_abi_dump_path $NEW_BUMP_TYPE
          
