name: release
on:
  workflow_dispatch:
    inputs:
      release_exist:
        description: 'Rerun existing release'
        required: true
        default: 'false'
        type: choice
        options:
          - true
          - false

jobs:
  draft_release:
    name: Draft Release
    runs-on: macos-15
    permissions:
      contents: write
      pull-requests: write
    env:
      RELEASE_EXIST: ${{ github.event.inputs.release_exist }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Fetch last tag
        run: |
          git fetch --tags

          LATEST_TAG=$(git describe --abbrev=0 --tags)
          if [ -z "$LATEST_TAG" ]; then
            echo "Latest tag not found" >&2; exit 1;
          fi
          echo $LATEST_TAG

          LATEST_VERSION=$(echo "$LATEST_TAG" | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')
          if [ -n "$LATEST_VERSION" ]; then
            LATEST_VERSION="${LATEST_VERSION}"
          else
            echo "Failed to extract version from tag: $LATEST_TAG" >&2; exit 1;
          fi

          echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
      - name: Calculate new version
        run: |
          LATEST_VERSION="${{ env.LATEST_VERSION }}"

          ALL_MESSAGES=$(git log "$LATEST_VERSION"..HEAD --format=%B | grep -E "\[(patch|minor|major)\] (feat|fix|refactor): .*")
          echo $ALL_MESSAGES
          chmod +x ./scripts/helpers/incr_semver.sh

          new_patch=""
          if [[ "$ALL_MESSAGES" == *"[major]"* ]]; then
          new_patch=$(./scripts/helpers/incr_semver.sh "$LATEST_VERSION" major)
          echo "NEW_BUMP_TYPE=major" >> $GITHUB_ENV
          elif [[ "$ALL_MESSAGES" == *"[minor]"* ]]; then
          new_patch=$(./scripts/helpers/incr_semver.sh "$LATEST_VERSION" minor)
          echo "NEW_BUMP_TYPE=minor" >> $GITHUB_ENV
          else
          new_patch=$(./scripts/helpers/incr_semver.sh "$LATEST_VERSION" patch)
          echo "NEW_BUMP_TYPE=patch" >> $GITHUB_ENV
          fi

          if [ "$RELEASE_EXIST" = "true" ]; then
            echo "Release exists, set NEW_VERSION=LATEST_VERSION"
            echo "NEW_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
          else
            echo "Release does not exist"
            echo "NEW_VERSION=$new_patch" >> $GITHUB_ENV
          fi 
          echo "CHANGELOG<<EOF" >> $GITHUB_ENV
          echo "$ALL_MESSAGES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - name: Switch to release branch
        run: |
          NEW_VERSION="${{ env.NEW_VERSION }}"
          branch_name="release/$NEW_VERSION"
          if git branch -r | grep -q "origin/$branch_name"; then
              echo "Remote branch $branch_name exists. Switching..."
              git switch "$branch_name"
          else
              echo "Remote branch '$branch_name' does not exist. Checkout..."
              git checkout -b "$branch_name"
          fi
      - name: Fullfill changelog
        run: |
          NEW_VERSION="${{ env.NEW_VERSION }}"
          CHANGELOG="${{ env.CHANGELOG }}"
          branch_name="release/$NEW_VERSION"
          FILE="Changelog.md"
          TEMP_FILE="temp.md"
          NEW_CONTENT="## ProjectDescription $NEW_VERSION
          $CHANGELOG
          "
          if grep -q "$NEW_CONTENT" "$FILE"; then
            echo "The file '$FILE' contains new changes"
          else
            echo "$NEW_CONTENT" > "$TEMP_FILE"
            cat "$FILE" >> "$TEMP_FILE"
            mv "$TEMP_FILE" "$FILE"

            git status
            git commit . -m "Bump changelog"
            git push origin "$branch_name"
          fi
      - name: Add tag
        run: |
          NEW_VERSION="${{ env.NEW_VERSION }}"
          if git ls-remote --exit-code --tags origin "$NEW_VERSION"; then
            echo "Tag $NEW_VERSION found."
          else
            echo "Tag $NEW_VERSION not found. Creating..."
            git tag $NEW_VERSION
            git push origin $NEW_VERSION
          fi
      - name: Build and dump
        run: |
          LATEST_VERSION="${{ env.LATEST_VERSION }}"
          NEW_BUMP_TYPE="${{ env.NEW_BUMP_TYPE }}"
          chmod +x ./scripts/helpers/build_and_dump.sh
          chmod +x ./scripts/helpers/abi_comparator.sh
          tmp_dir=$(mktemp -d)
          current_abi_dump_path=$(./scripts/helpers/build_and_dump.sh $tmp_dir)
          ./scripts/helpers/abi_comparator.sh $tmp_dir $LATEST_VERSION $current_abi_dump_path $NEW_BUMP_TYPE

          # zip current-abi.zip current_abi_dump_path
          echo "ABI_PATH=$current_abi_dump_path" >> $GITHUB_ENV
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.NEW_VERSION }}
          release_name: ${{ env.NEW_VERSION }}
          body: ${{ env.CHANGELOG }}
          draft: true
          prerelease: false
      - name: Upload release binary
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ env.ABI_PATH }}
          asset_name: current-abi.json
          asset_content_type: application/json
      - name: Create Pull Request
        run: gh pr create --base main --head "release/${{ env.NEW_VERSION }}" --title "Release PR" --body "${{ env.NEW_VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
